In [1]:
import pandas as pd
import numpy as np

## Different Methods of Creating Data Frame

In [7]:
# we creat data frame by usnig list

lis = [
    [10,20,'A'],
    [40,50,'B'],
    
]

df = pd.DataFrame(lis,columns =['marks','age','grade'])

df

   marks  age grade
0     10   20     A
1     40   50     B

In [15]:
# we create dataframe by using dictionary of list

dic = {
    'Name':['Ikram','Ehsan','Ibrahim','Mati'],
    'Age':[36,38,14,16],
    'Qual' :[16,14,12,10]
    
}

df1 = pd.DataFrame(dic)
df1

      Name  Age  Qual
0    Ikram   36    16
1    Ehsan   38    14
2  Ibrahim   14    12
3     Mati   16    10

In [17]:
# we create dataframe by using list  of dictionary 

lis_dic = [
    
    {'Name':'Hadi','Age':20,'Gender':'Male'},
    {'Name':'Anabia','Age':15,'Gender':'Female'}
]

df2 = pd.DataFrame(lis_dic)

df2

     Name  Age  Gender
0    Hadi   20    Male
1  Anabia   15  Female

In [22]:
pd.DataFrame([
    (10,20,30),
    (90,70,50),
    (12,45,65)
    ])

    0   1   2
0  10  20  30
1  90  70  50
2  12  45  65

In [25]:
df_tuple = pd.DataFrame({
    'iq':(10,20,30),
    'percentage':(90,70,50),
    'age':(12,45,65)
})

df_tuple

   iq  percentage  age
0  10          90   12
1  20          70   45
2  30          50   65

In [26]:
# index it gives the indexes of a dataframe

df1.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
# reading data frame

ipl = pd.read_csv('E:\Datasets\Pandas_dataSets\ipl-matches.csv')

ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [34]:
movies = pd.read_csv('E:\Datasets\Pandas_dataSets\movies.csv')

movies

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [38]:
# index give the range of indexes in a dataframe

print(ipl.index)

print(movies.index)

RangeIndex(start=0, stop=950, step=1)
RangeIndex(start=0, stop=1629, step=1)

In [41]:
# columns give the list of all columns in a dataframe

print(ipl.columns)

print(movies.columns)

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')
Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [42]:
# dtypes give the list of datatypes of all columns in a dataframe

ipl.dtypes

ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object

In [43]:
movies.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

In [44]:
# info give the information of all columns in a dataframe

ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [46]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [50]:
# select_dtypes give a new data frame with specific data type

ipl.select_dtypes(include=['float64','int64'])

          ID  Margin
0    1312200     7.0
1    1312199     7.0
2    1312198    14.0
3    1312197     7.0
4    1304116     5.0
..       ...     ...
945   335986     5.0
946   335985     5.0
947   335984     9.0
948   335983    33.0
949   335982   140.0

[950 rows x 2 columns]

In [56]:
movies.select_dtypes(['int','float'])

      is_adult  year_of_release  imdb_rating  imdb_votes
0            0             2019          8.4       35112
1            0             2019          4.1          73
2            0             2019          6.1        5549
3            0             2019          6.0        1891
4            0             2018          7.3         280
...        ...              ...          ...         ...
1624         0             2001          4.9         278
1625         0             2001          3.0         133
1626         0             2018          6.1          13
1627         0             2019          7.4          38
1628         0             2011          9.0        2968

[1629 rows x 4 columns]

In [57]:
# values function give us a numpy array of data frame values
df1.values

array([['Ikram', 36, 16],
       ['Ehsan', 38, 14],
       ['Ibrahim', 14, 12],
       ['Mati', 16, 10]], dtype=object)

In [59]:
ipl.values

array([[1312200, 'Ahmedabad', '2022-05-29', ...,
        "['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312199, 'Ahmedabad', '2022-05-27', ...,
        "['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312198, 'Kolkata', '2022-05-25', ...,
        "['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']",
        'J Madanagopal', 'MA Gough'],
       ...,
       [335984, 'Delhi', '2008-04-19', ...,
        "['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']",
        'Aleem Dar', 'GA Pratapkumar'],
       [335983, 'Chandigarh', '2008-04-19', ...,
        "['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']",
        'MR Benson', 'SL Shastri'],
       [335982, 'Bangalore', '2008-04-18', ...,
        "['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']",
        'Asad Rauf', 'RE Koertzen']], dtype=object)

In [62]:
ipl.axes

[RangeIndex(start=0, stop=950, step=1),
 Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
        'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
        'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
        'Team2Players', 'Umpire1', 'Umpire2'],
       dtype='object')]

In [64]:
# ndim give the dimensions of data it provide 1 in case od series and give 2 in case of data frame

ipl.ndim
movies.ndim

2

In [69]:
# size count the all number of values in data frame including NaN values

print(ipl.size)
print(movies.size)

19000
29322

In [71]:
# count function count all the number of values in each column without NaN values
ipl.count()

ID                 950
City               899
Date               950
Season             950
MatchNumber        950
Team1              950
Team2              950
Venue              950
TossWinner         950
TossDecision       950
SuperOver          946
WinningTeam        946
WonBy              950
Margin             932
method              19
Player_of_Match    946
Team1Players       950
Team2Players       950
Umpire1            950
Umpire2            950
dtype: int64

In [72]:
# shape give the total number of rows and columns

ipl.shape

(950, 20)

In [73]:
ipl.memory_usage()

Index               128
ID                 7600
City               7600
Date               7600
Season             7600
MatchNumber        7600
Team1              7600
Team2              7600
Venue              7600
TossWinner         7600
TossDecision       7600
SuperOver          7600
WinningTeam        7600
WonBy              7600
Margin             7600
method             7600
Player_of_Match    7600
Team1Players       7600
Team2Players       7600
Umpire1            7600
Umpire2            7600
dtype: int64

In [75]:
movies.memory_usage()

Index                 128
title_x             13032
imdb_id             13032
poster_path         13032
wiki_link           13032
title_y             13032
original_title      13032
is_adult            13032
year_of_release     13032
runtime             13032
genres              13032
imdb_rating         13032
imdb_votes          13032
story               13032
summary             13032
tagline             13032
actors              13032
wins_nominations    13032
release_date        13032
dtype: int64

In [85]:
df1.astype({'Age':'float'})

      Name   Age  Qual
0    Ikram  36.0    16
1    Ehsan  38.0    14
2  Ibrahim  14.0    12
3     Mati  16.0    10

In [84]:
df1.dtypes

Name    object
Age      int64
Qual     int64
dtype: object

In [86]:
# this function can also be use to change the data type

df1.convert_dtypes(infer_objects='Age',convert_integer=int)

      Name  Age  Qual
0    Ikram   36    16
1    Ehsan   38    14
2  Ibrahim   14    12
3     Mati   16    10

In [88]:
# copy function provide the copy of data frame
new_df = df1.copy()

new_df

      Name  Age  Qual
0    Ikram   36    16
1    Ehsan   38    14
2  Ibrahim   14    12
3     Mati   16    10

In [91]:
df3 = new_df.to_numpy()

df3

array([['Ikram', 36, 16],
       ['Ehsan', 38, 14],
       ['Ibrahim', 14, 12],
       ['Mati', 16, 10]], dtype=object)

In [95]:
new_df.to_csv(path_or_buf='E:\\Datasets\\Pandas_dataSets\\abc.csv')

In [96]:
# head function gives us a top 5 rows of a dataframe

ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [97]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [99]:
# head function gives us a last 5 rows of a dataframe

ipl.tail()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [100]:
# sample function gives us a randomly rows of a dataframe
ipl.sample()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
697,548310,Bangalore,2012-04-07,2012,5,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Delhi Daredevils,field,N,Royal Challengers Bangalore,Runs,20.0,NaN,AB de Villiers,"['AB McDonald', 'CA Pujara', 'V Kohli', 'AB de...","['AJ Finch', 'V Sehwag', 'NV Ojha', 'Y Venugop...",S Asnani,S Ravi

In [102]:
# it randomly select the 5 rows

movies.sample(5)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
36,Kabir Singh,tt8983202,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Kabir_Singh,Kabir Singh,Kabir Singh,0,2019,173,Drama|Romance,7.2,20535,This Sandeep Vanga directorial is a remake of ...,Kabir Singh is a remake of a Telugu movie Arju...,NaN,Shahid Kapoor|Kiara Advani|Soham Majumdar|Arja...,NaN,20 June 2019 (USA)
1375,Paisa Vasool,tt0396782,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Paisa_Vasool,Paisa Vasool,Paisa Vasool,0,2004,139,Comedy,4.1,122,After a chance encounter at a club the struggl...,After a chance encounter at a club the struggl...,NaN,Manisha Koirala|Sushmita Sen|Sushant Singh|,NaN,9 January 2004 (India)
681,Dangerous Ishhq,tt1971365,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Dangerous_Ishq,Dangerous Ishq,Dangerous Ishhq,0,2012,130,Fantasy|Mystery|Romance,3.9,783,Three doppelgangers(one girl+ two boys).Two of...,Three doppelgangers(one girl+ two boys).Two of...,Searching for her Love... Through many Lives...,Karisma Kapoor|Rajniesh Duggall|Divya Dutta|Ji...,1 win & 2 nominations,11 May 2012 (India)
210,Munna Michael,tt6117702,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Munna_Michael,Munna Michael,Munna Michael,0,2017,140,Action|Drama|Music,3.4,2396,Michael is an aging dancer in films is fired f...,A young man tries to follow the footsteps of ...,NaN,Tiger Shroff|Nidhhi Agerwal|Nawazuddin Siddiqui|,1 win & 1 nomination,21 July 2017 (USA)
49,The Sky Is Pink,tt8902990,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Sky_Is_Pink,The Sky Is Pink,The Sky Is Pink,0,2019,143,Drama|Family|Romance,6.6,1659,The Sky Is Pink is the incredible love story o...,It is based on the love story of a couple span...,Har Ek Ka Apna Sky Hota Hain,Zaira Wasim|Priyanka Chopra|Farhan Akhtar|Rohi...,NaN,11 October 2019 (USA)

In [103]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [104]:
# describe function gives the statistical information of numerical columns

ipl.describe()

                 ID      Margin
count  9.500000e+02  932.000000
mean   8.304852e+05   17.056867
std    3.375678e+05   21.633109
min    3.359820e+05    1.000000
25%    5.012612e+05    6.000000
50%    8.297380e+05    8.000000
75%    1.175372e+06   19.000000
max    1.312200e+06  146.000000

In [107]:
movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

## Data Selection and Filtering

In [108]:
# df[]
# df.loc[]
# df.iloc[]
# df.at[]
# df.iat[]
# df.query()
# df.filter()

In [113]:
# selecting columns from a dataframe

# select a single column from data frame

ipl['City']

type(ipl['City'])

pandas.core.series.Series

In [119]:
# selecting multiple columns fro a dat frame

ipl[['Team1','Team2','WinningTeam']]

,Team1,Team2,WinningTeam
0,Rajasthan Royals,Gujarat Titans,Gujarat Titans
1,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals
2,Royal Challengers Bangalore,Lucknow Super Giants,Royal Challengers Bangalore
3,Rajasthan Royals,Gujarat Titans,Gujarat Titans
4,Sunrisers Hyderabad,Punjab Kings,Punjab Kings
...,...,...,...
945,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders
946,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
947,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils
948,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings
949,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

In [127]:
# Selcting rows
for i in df1.items():
    print(i)

('Name', 0      Ikram
1      Ehsan
2    Ibrahim
3       Mati
Name: Name, dtype: object)
('Age', 0    36
1    38
2    14
3    16
Name: Age, dtype: int64)
('Qual', 0    16
1    14
2    12
3    10
Name: Qual, dtype: int64)

In [128]:
df1.keys()

Index(['Name', 'Age', 'Qual'], dtype='object')

In [129]:
ipl.keys()

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [138]:
movies.iloc[4]

title_x                                               Evening Shadows
imdb_id                                                     tt6028796
poster_path                                                       NaN
wiki_link               https://en.wikipedia.org/wiki/Evening_Shadows
title_y                                               Evening Shadows
original_title                                        Evening Shadows
is_adult                                                            0
year_of_release                                                  2018
runtime                                                           102
genres                                                          Drama
imdb_rating                                                       7.3
imdb_votes                                                        280
story               While gay rights and marriage equality has bee...
summary             Under the 'Evening Shadows'  truth often plays...
tagline                                                           NaN
actors              Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
wins_nominations                               17 wins & 1 nomination
release_date                                  11 January 2019 (India)
Name: 4, dtype: object

In [139]:
ipl.iloc[2:5]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [140]:
ipl[10:100]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
10,1304110,Navi Mumbai,2022-05-16,2022,64,Delhi Capitals,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Delhi Capitals,Runs,17.0,NaN,SN Thakur,"['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Ya...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",GR Sadashiv Iyer,Nitin Menon
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hood...",PG Pathak,Tapan Sharma
12,1304108,Mumbai,2022-05-15,2022,62,Chennai Super Kings,Gujarat Titans,"Wankhede Stadium, Mumbai",Chennai Super Kings,bat,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
13,1304107,Pune,2022-05-14,2022,61,Kolkata Knight Riders,Sunrisers Hyderabad,"Maharashtra Cricket Association Stadium, Pune",Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,54.0,NaN,AD Russell,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",AK Chaudhary,KN Ananthapadmanabhan
14,1304106,Mumbai,2022-05-13,2022,60,Punjab Kings,Royal Challengers Bangalore,"Brabourne Stadium, Mumbai",Royal Challengers Bangalore,field,N,Punjab Kings,Runs,54.0,NaN,JM Bairstow,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['V Kohli', 'F du Plessis', 'RM Patidar', 'MK ...",J Madanagopal,N Pandit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1254098,Abu Dhabi,2021-09-26,2021,38,Kolkata Knight Riders,Chennai Super Kings,"Zayed Cricket Stadium, Abu Dhabi",Kolkata Knight Riders,bat,N,Chennai Super Kings,Wickets,2.0,NaN,RA Jadeja,"['Shubman Gill', 'VR Iyer', 'RA Tripathi', 'EJ...","['RD Gaikwad', 'F du Plessis', 'MM Ali', 'AT R...",CB Gaffaney,Tapan Sharma
96,1254108,Dubai,2021-09-26,2021,39,Royal Challengers Bangalore,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,field,N,Royal Challengers Bangalore,Runs,54.0,NaN,GJ Maxwell,"['V Kohli', 'D Padikkal', 'KS Bharat', 'GJ Max...","['RG Sharma', 'Q de Kock', 'Ishan Kishan', 'SA...",AK Chaudhary,MA Gough
97,1254097,Abu Dhabi,2021-09-25,2021,36,Delhi Capitals,Rajasthan Royals,"Zayed Cricket Stadium, Abu Dhabi",Rajasthan Royals,field,N,Delhi Capitals,Runs,33.0,NaN,SS Iyer,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['LS Livingstone', 'YBK Jaiswal', 'SV Samson',...",CB Gaffaney,UV Gandhe
98,1254107,Sharjah,2021-09-25,2021,37,Punjab Kings,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Punjab Kings,Runs,5.0,NaN,JO Holder,"['KL Rahul', 'MA Agarwal', 'CH Gayle', 'AK Mar...","['DA Warner', 'WP Saha', 'KS Williamson', 'MK ...",RK Illingworth,YC Barde
99,1254113,Sharjah,2021-09-24,2021,35,Royal Challengers Bangalore,Chennai Super Kings,Sharjah Cricket Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,DJ Bravo,"['V Kohli', 'D Padikkal', 'AB de Villiers', 'G...","['RD Gaikwad', 'F du Plessis', 'MM Ali', 'AT R...",AK Chaudhary,Nitin Menon

In [141]:
movies[100:500:4]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
100,October (2018 film),tt7700730,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/October_(2018_film),October,October,0,2018,115,Drama|Romance,7.5,11125,Dan (Varun Dhawan) is living the life of any c...,A group of interns are going through the usual...,This is not a love story. This is a story abou...,Varun Dhawan|Banita Sandhu|Gitanjali Rao|Sahil...,3 wins & 9 nominations,13 April 2018 (USA)
104,Daas Dev,tt4979110,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aur_Devdas,Daas Dev,Daas Dev,0,2018,140,Drama|Thriller,5.1,205,Daas Dev is a 2018 romantic-thriller with an ...,Daas Dev is a 2018 romantic-thriller with an ...,NaN,Yogesh Raj Mishra|,NaN,27 April 2018 (India)
108,High Jack (film),tt8175968,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/High_Jack_(film),High Jack,High Jack,0,2018,102,Comedy,5.2,252,Rakesh an out of luck DJ has just found out ...,Rakesh an out of luck DJ has just found out ...,NaN,Sumeet Vyas|Mantra Mugdh|Sonnalli Seygall|,NaN,18 May 2018 (India)
112,Bhavesh Joshi Superhero,tt6129302,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bhavesh_Joshi_Su...,Bhavesh Joshi Superhero,Bhavesh Joshi Superhero,0,2018,154,Action|Drama,7.6,4928,Bhavesh Joshi Superhero is an action film abou...,The origin story of Bhavesh Joshi an Indian s...,This year| justice will have a new name.,Harshvardhan Kapoor|Priyanshu Painyuli|Ashish ...,2 nominations,1 June 2018 (USA)
116,Sanju,tt6452574,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Sanju,Sanju,Sanju,0,2018,155,Biography|Drama,7.8,42718,Few lives in our times are as dramatic and eni...,Sanju is a biopic of the controversial life of...,One Man . . . Many Lives,Ranbir Kapoor|Paresh Rawal|Manisha Koirala|Vic...,12 wins & 24 nominations,29 June 2018 (USA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,W (2014 film),tt3166542,https://upload.wikimedia.org/wikipedia/en/e/e0...,https://en.wikipedia.org/wiki/W_(2014_film),W,W,0,2014,137,Crime|Musical|Thriller,6.8,43,W - If Woman is one of the words which comes t...,W - If Woman is one of the words which comes t...,Women of Today v/s Men of Yesterday,Leeza Mangaldas|Lezlie Tripathy|Sonal Giani|Ra...,NaN,14 March 2014 (India)
484,Jal (film),tt2708550,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jal_(film),Jal,Jal,0,2013,126,Drama,6.8,415,Jal is the story of young willful BAKKA who i...,Jal is the story of young willful BAKKA who i...,NaN,Purab Kohli|Tannishtha Chatterjee|Kirti Kulhar...,2 wins & 1 nomination,4 April 2014 (India)
488,Station (2014 film),tt2191164,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Station:_The_Film,Station,Station,0,2014,103,Crime|Drama|Thriller,7.5,89,Three psychotic assassins take up a job at a w...,Three psychotic assassins take up a job at a w...,Will three psychotic assassins finish a job at...,Kanika Batra|Gulshan Grover|Rohiet Nair|Sameer...,NaN,28 March 2014 (India)
492,Kya Dilli Kya Lahore,tt2063745,https://upload.wikimedia.org/wikipedia/en/9/9f...,https://en.wikipedia.org/wiki/Kya_Dilli_Kya_La...,Kya Dilli Kya Lahore,Kya Dilli Kya Lahore,0,2014,98,Drama|History|War,7.4,1761,In 1948 a cross-fire erupts at an isolated st...,In 1948 a cross-fire erupts at an isolated st...,NaN,Vijay Raaz|Manu Rishi Chadha|Raj Zutshi|,NaN,2 May 2014 (India)
496,Mastram,tt3431714,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Mastram,Mastram,Mastram,0,2013,98,Biography|Drama,4.8,414,How a clerk became an erotica writer.,How a clerk became an erotica writer.,NaN,Rahul Bagga|Tara-Alisha Berry|Aakash Dahiya|Is...,NaN,9 May 2014 (India)

In [142]:
ipl[::10]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
10,1304110,Navi Mumbai,2022-05-16,2022,64,Delhi Capitals,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Delhi Capitals,Runs,17.0,NaN,SN Thakur,"['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Ya...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",GR Sadashiv Iyer,Nitin Menon
20,1304100,Mumbai,2022-05-08,2022,54,Royal Challengers Bangalore,Sunrisers Hyderabad,"Wankhede Stadium, Mumbai",Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,67.0,NaN,PWH de Silva,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",BNJ Oxenford,N Pandit
30,1304090,Navi Mumbai,2022-04-30,2022,44,Rajasthan Royals,Mumbai Indians,"Dr DY Patil Sports Academy, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,SA Yadav,"['JC Buttler', 'D Padikkal', 'SV Samson', 'DJ ...","['RG Sharma', 'Ishan Kishan', 'SA Yadav', 'Til...",BNJ Oxenford,YC Barde
40,1304080,Mumbai,2022-04-22,2022,34,Rajasthan Royals,Delhi Capitals,"Wankhede Stadium, Mumbai",Delhi Capitals,field,N,Rajasthan Royals,Runs,15.0,NaN,JC Buttler,"['JC Buttler', 'D Padikkal', 'SV Samson', 'SO ...","['PP Shaw', 'DA Warner', 'SN Khan', 'RR Pant',...",NA Patwardhan,Nitin Menon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,336002,Hyderabad,2008-05-25,2007/08,51,Deccan Chargers,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,R Vinay Kumar,"['AC Gilchrist', 'HH Gibbs', 'RG Sharma', 'LPC...","['JH Kallis', 'W Jaffer', 'Misbah-ul-Haq', 'R ...",Asad Rauf,RE Koertzen
910,336022,Delhi,2008-05-17,2007/08,40,Delhi Daredevils,Kings XI Punjab,Feroz Shah Kotla,Delhi Daredevils,bat,N,Kings XI Punjab,Runs,6.0,D/L,DPMD Jayawardene,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'TM Dils...","['SE Marsh', 'JR Hopes', 'Yuvraj Singh', 'LA P...",AV Jayaprakash,RE Koertzen
920,336011,Jaipur,2008-05-09,2007/08,30,Rajasthan Royals,Deccan Chargers,Sawai Mansingh Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,8.0,NaN,YK Pathan,"['GC Smith', 'YK Pathan', 'M Kaif', 'SR Watson...","['AC Gilchrist', 'HH Gibbs', 'SB Styris', 'RG ...",MR Benson,AM Saheba
930,336001,Chennai,2008-05-02,2007/08,20,Chennai Super Kings,Delhi Daredevils,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Delhi Daredevils,Wickets,8.0,NaN,V Sehwag,"['PA Patel', 'SP Fleming', 'S Vidyut', 'MS Dho...","['G Gambhir', 'V Sehwag', 'AB de Villiers', 'S...",BF Bowden,K Hariharan
940,335991,Chandigarh,2008-04-25,2007/08,10,Kings XI Punjab,Mumbai Indians,"Punjab Cricket Association Stadium, Mohali",Mumbai Indians,field,N,Kings XI Punjab,Runs,66.0,NaN,KC Sangakkara,"['K Goel', 'IK Pathan', 'KC Sangakkara', 'Yuvr...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'D...",Aleem Dar,AM Saheba

In [143]:
ipl[0:10]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
7,1304113,Mumbai,2022-05-19,2022,67,Gujarat Titans,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Gujarat Titans,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer
8,1304112,Navi Mumbai,2022-05-18,2022,66,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Lucknow Super Giants,bat,N,Lucknow Super Giants,Runs,2.0,NaN,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit

In [144]:
ipl.iloc[0:10]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
7,1304113,Mumbai,2022-05-19,2022,67,Gujarat Titans,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Gujarat Titans,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer
8,1304112,Navi Mumbai,2022-05-18,2022,66,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Lucknow Super Giants,bat,N,Lucknow Super Giants,Runs,2.0,NaN,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit

In [147]:
# use iloc function this function use to access the all rows using index

ipl.iloc[5]

ID                                                           1304115
City                                                          Mumbai
Date                                                      2022-05-21
Season                                                          2022
MatchNumber                                                       69
Team1                                                 Delhi Capitals
Team2                                                 Mumbai Indians
Venue                                       Wankhede Stadium, Mumbai
TossWinner                                            Mumbai Indians
TossDecision                                                   field
SuperOver                                                          N
WinningTeam                                           Mumbai Indians
WonBy                                                        Wickets
Margin                                                           5.0
method                                                           NaN
Player_of_Match                                            JJ Bumrah
Team1Players       ['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...
Team2Players       ['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...
Umpire1                                                  Nitin Menon
Umpire2                                                 Tapan Sharma
Name: 5, dtype: object

In [148]:
ipl.iloc[5:20]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
7,1304113,Mumbai,2022-05-19,2022,67,Gujarat Titans,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Gujarat Titans,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer
8,1304112,Navi Mumbai,2022-05-18,2022,66,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Lucknow Super Giants,bat,N,Lucknow Super Giants,Runs,2.0,NaN,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit
10,1304110,Navi Mumbai,2022-05-16,2022,64,Delhi Capitals,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Delhi Capitals,Runs,17.0,NaN,SN Thakur,"['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Ya...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",GR Sadashiv Iyer,Nitin Menon
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hood...",PG Pathak,Tapan Sharma
12,1304108,Mumbai,2022-05-15,2022,62,Chennai Super Kings,Gujarat Titans,"Wankhede Stadium, Mumbai",Chennai Super Kings,bat,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
13,1304107,Pune,2022-05-14,2022,61,Kolkata Knight Riders,Sunrisers Hyderabad,"Maharashtra Cricket Association Stadium, Pune",Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,54.0,NaN,AD Russell,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",AK Chaudhary,KN Ananthapadmanabhan
14,1304106,Mumbai,2022-05-13,2022,60,Punjab Kings,Royal Challengers Bangalore,"Brabourne Stadium, Mumbai",Royal Challengers Bangalore,field,N,Punjab Kings,Runs,54.0,NaN,JM Bairstow,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['V Kohli', 'F du Plessis', 'RM Patidar', 'MK ...",J Madanagopal,N Pandit
15,1304105,Mumbai,2022-05-12,2022,59,Chennai Super Kings,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
16,1304104,Navi Mumbai,2022-05-11,2022,58,Rajasthan Royals,Delhi Capitals,"Dr DY Patil Sports Academy, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,8.0,NaN,MR Marsh,"['YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D P...","['KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pan...",NA Patwardhan,Nitin Menon
17,1304103,Pune,2022-05-10,2022,57,Gujarat Titans,Lucknow Super Giants,"Maharashtra Cricket Association Stadium, Pune",Gujarat Titans,bat,N,Gujarat Titans,Runs,62.0,NaN,Shubman Gill,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['Q de Kock', 'KL Rahul', 'DJ Hooda', 'KS Shar...",KN Ananthapadmanabhan,MA Gough
18,1304102,Navi Mumbai,2022-05-09,2022,56,Kolkata Knight Riders,Mumbai Indians,"Dr DY Patil Sports Academy, Mumbai",Mumbai Indians,field,N,Kolkata Knight Riders,Runs,52.0,NaN,JJ Bumrah,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['RG Sharma', 'Ishan Kishan', 'Tilak Varma', '...",CB Gaffaney,GR Sadashiv Iyer
19,1304101,Navi Mumbai,2022-05-08,2022,55,Chennai Super Kings,Delhi Capitals,"Dr DY Patil Sports Academy, Mumbai",Delhi Capitals,field,N,Chennai Super Kings,Runs,91.0,NaN,DP Conway,"['RD Gaikwad', 'DP Conway', 'S Dube', 'AT Rayu...","['DA Warner', 'KS Bharat', 'MR Marsh', 'RR Pan...",Nitin Menon,R Pandit

In [149]:
ipl.iloc[10:100:4]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
10,1304110,Navi Mumbai,2022-05-16,2022,64,Delhi Capitals,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Delhi Capitals,Runs,17.0,NaN,SN Thakur,"['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Ya...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",GR Sadashiv Iyer,Nitin Menon
14,1304106,Mumbai,2022-05-13,2022,60,Punjab Kings,Royal Challengers Bangalore,"Brabourne Stadium, Mumbai",Royal Challengers Bangalore,field,N,Punjab Kings,Runs,54.0,NaN,JM Bairstow,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['V Kohli', 'F du Plessis', 'RM Patidar', 'MK ...",J Madanagopal,N Pandit
18,1304102,Navi Mumbai,2022-05-09,2022,56,Kolkata Knight Riders,Mumbai Indians,"Dr DY Patil Sports Academy, Mumbai",Mumbai Indians,field,N,Kolkata Knight Riders,Runs,52.0,NaN,JJ Bumrah,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['RG Sharma', 'Ishan Kishan', 'Tilak Varma', '...",CB Gaffaney,GR Sadashiv Iyer
22,1304098,Mumbai,2022-05-07,2022,52,Punjab Kings,Rajasthan Royals,"Wankhede Stadium, Mumbai",Punjab Kings,bat,N,Rajasthan Royals,Wickets,6.0,NaN,YBK Jaiswal,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",Chirra Ravikanthreddy,YC Barde
26,1304094,Navi Mumbai,2022-05-03,2022,48,Gujarat Titans,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Gujarat Titans,bat,N,Punjab Kings,Wickets,8.0,NaN,K Rabada,"['WP Saha', 'Shubman Gill', 'B Sai Sudharsan',...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",R Pandit,VK Sharma
30,1304090,Navi Mumbai,2022-04-30,2022,44,Rajasthan Royals,Mumbai Indians,"Dr DY Patil Sports Academy, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,SA Yadav,"['JC Buttler', 'D Padikkal', 'SV Samson', 'DJ ...","['RG Sharma', 'Ishan Kishan', 'SA Yadav', 'Til...",BNJ Oxenford,YC Barde
34,1304086,Mumbai,2022-04-27,2022,40,Sunrisers Hyderabad,Gujarat Titans,"Wankhede Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,5.0,NaN,Umran Malik,"['Abhishek Sharma', 'KS Williamson', 'RA Tripa...","['WP Saha', 'Shubman Gill', 'HH Pandya', 'DA M...",CB Gaffaney,Navdeep Singh
38,1304082,Mumbai,2022-04-23,2022,36,Royal Challengers Bangalore,Sunrisers Hyderabad,"Brabourne Stadium, Mumbai",Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,9.0,NaN,M Jansen,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'GJ ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",Chirra Ravikanthreddy,J Madanagopal
42,1304078,Mumbai,2022-04-20,2022,32,Punjab Kings,Delhi Capitals,"Brabourne Stadium, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,9.0,NaN,Kuldeep Yadav,"['MA Agarwal', 'S Dhawan', 'JM Bairstow', 'LS ...","['PP Shaw', 'DA Warner', 'SN Khan', 'RR Pant',...",RJ Tucker,Tapan Sharma
46,1304074,Mumbai,2022-04-17,2022,28,Punjab Kings,Sunrisers Hyderabad,"Dr DY Patil Sports Academy, Mumbai",Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,7.0,NaN,Umran Malik,"['S Dhawan', 'P Simran Singh', 'JM Bairstow', ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",PG Pathak,R Pandit
50,1304070,Mumbai,2022-04-14,2022,24,Gujarat Titans,Rajasthan Royals,"Dr DY Patil Sports Academy, Mumbai",Rajasthan Royals,field,N,Gujarat Titans,Runs,37.0,NaN,HH Pandya,"['MS Wade', 'Shubman Gill', 'V Shankar', 'HH P...","['JC Buttler', 'D Padikkal', 'R Ashwin', 'SV S...",CB Gaffaney,R Pandit
54,1304066,Mumbai,2022-04-10,2022,20,Rajasthan Royals,Lucknow Super Giants,"Wankhede Stadium, Mumbai",Lucknow Super Giants,field,N,Rajasthan Royals,Runs,3.0,NaN,YS Chahal,"['JC Buttler', 'D Padikkal', 'SV Samson', 'HE ...","['KL Rahul', 'Q de Kock', 'K Gowtham', 'JO Hol...",AK Chaudhary,Tapan Sharma
58,1304062,Mumbai,2022-04-08,2022,16,Punjab Kings,Gujarat Titans,"Brabourne Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,6.0,NaN,Shubman Gill,"['MA Agarwal', 'S Dhawan', 'JM Bairstow', 'LS ...","['MS Wade', 'Shubman Gill', 'B Sai Sudharsan',...",AK Chaudhary,VK Sharma
62,1304058,Mumbai,2022-04-04,2022,12,Lucknow Super Giants,Sunrisers Hyderabad,"Dr DY Patil Sports Academy, Mumbai",Sunrisers Hyderabad,field,N,Lucknow Super Giants,Runs,12.0,NaN,Avesh Khan,"['KL Rahul', 'Q de Kock', 'E Lewis', 'MK Pande...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",J Madanagopal,Navdeep Singh
66,1304054,Mumbai,2022-04-01,2022,8,Punjab Kings,Kolkata Knight Riders,"Wankhede Stadium, Mumbai",Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,UT Yadav,"['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L...","['AM Rahane', 'VR Iyer', 'SS Iyer', 'SW Billin...",AK Chaudhary,HAS Khalid
70,1304050,Mumbai,2022-03-28,2022,4,Lucknow Super Giants,Gujarat Titans,"Wankhede Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,5.0,NaN,Mohammed Shami,"['KL Rahul', 'Q de Kock', 'E Lewis', 'MK Pande...","['Shubman Gill', 'MS Wade', 'V Shankar', 'HH P...",PG Pathak,VK Sharma
74,1254117,Dubai,2021-10-15,2021,Final,Chennai Super Kings,Kolkata Knight Riders,Dubai International Cricket Stadium,Kolkata Knight Riders,field,N,Chennai Super Kings,Runs,27.0,NaN,F du Plessis,"['RD Gaikwad', 'F du Plessis', 'RV Uthappa', '...","['Shubman Gill', 'VR Iyer', 'N Rana', 'SP Nari...",Nitin Menon,RK Illingworth
78,1254101,Dubai,2021-10-08,2021,56,Delhi Capitals,Royal Challengers Bangalore,Dubai International Cricket Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,7.0,NaN,KS Bharat,"['PP Shaw', 'S Dhawan', 'RR Pant', 'SS Iyer', ...","['V Kohli', 'D Padikkal', 'KS Bharat', 'AB de ...",KN Ananthapadmanabhan,Nitin Menon
82,1254095,Abu Dhabi,2021-10-06,2021,52,Sunrisers Hyderabad,Royal Challengers Bangalore,"Zayed Cricket Stadium, Abu Dhabi",Royal Challengers Bangalore,field,N,Sunrisers Hyderabad,Runs,4.0,NaN,KS Williamson,"['JJ Roy', 'Abhishek Sharma', 'KS Williamson',...","['V Kohli', 'D Padikkal', 'DT Christian', 'KS ...",S Ravi,UV Gandhe
86,1254109,Dubai,2021-10-03,2021,49,Sunrisers Hyderabad,Kolkata Knight Riders,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Kolkata Knight Riders,Wickets,6.0,NaN,Shubman Gill,"['JJ Roy', 'WP Saha', 'KS Williamson', 'PK Gar...","['Shubman Gill', 'VR Iyer', 'RA Tripathi', 'N ...",J Madanagopal,MA Gough
90,1254091,Sharjah,2021-09-30,2021,44,Sunrisers Hyderabad,Chennai Super Kings,Sharjah Cricket Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,JR Hazlewood,"['JJ Roy', 'WP Saha', 'KS Williamson', 'PK Gar...","['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK R...",Nitin Menon,YC Barde
94,1254100,Dubai,2021-09-27,2021,40,Rajasthan Royals,Sunrisers Hyderabad,Dubai International Cricket Stadium,Rajasthan Royals,bat,N,Sunrisers Hyderabad,Wickets,7.0,NaN,JJ Roy,"['E Lewis', 'YBK Jaiswal', 'SV Samson', 'LS Li...","['JJ Roy', 'WP Saha', 'KS Williamson', 'PK Gar...",KN Ananthapadmanabhan,Navdeep Singh
98,1254107,Sharjah,2021-09-25,2021,37,Punjab Kings,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Punjab Kings,Runs,5.0,NaN,JO Holder,"['KL Rahul', 'MA Agarwal', 'CH Gayle', 'AK Mar...","['DA Warner', 'WP Saha', 'KS Williamson', 'MK ...",RK Illingworth,YC Barde

In [150]:
ipl.iloc[:20]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
7,1304113,Mumbai,2022-05-19,2022,67,Gujarat Titans,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Gujarat Titans,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,V Kohli,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ...",KN Ananthapadmanabhan,GR Sadashiv Iyer
8,1304112,Navi Mumbai,2022-05-18,2022,66,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Lucknow Super Giants,bat,N,Lucknow Super Giants,Runs,2.0,NaN,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde
9,1304111,Mumbai,2022-05-17,2022,65,Sunrisers Hyderabad,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,3.0,NaN,RA Tripathi,"['Abhishek Sharma', 'PK Garg', 'RA Tripathi', ...","['RG Sharma', 'Ishan Kishan', 'DR Sams', 'Tila...",CB Gaffaney,N Pandit
10,1304110,Navi Mumbai,2022-05-16,2022,64,Delhi Capitals,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Delhi Capitals,Runs,17.0,NaN,SN Thakur,"['DA Warner', 'SN Khan', 'MR Marsh', 'Lalit Ya...","['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...",GR Sadashiv Iyer,Nitin Menon
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hood...",PG Pathak,Tapan Sharma
12,1304108,Mumbai,2022-05-15,2022,62,Chennai Super Kings,Gujarat Titans,"Wankhede Stadium, Mumbai",Chennai Super Kings,bat,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
13,1304107,Pune,2022-05-14,2022,61,Kolkata Knight Riders,Sunrisers Hyderabad,"Maharashtra Cricket Association Stadium, Pune",Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,54.0,NaN,AD Russell,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",AK Chaudhary,KN Ananthapadmanabhan
14,1304106,Mumbai,2022-05-13,2022,60,Punjab Kings,Royal Challengers Bangalore,"Brabourne Stadium, Mumbai",Royal Challengers Bangalore,field,N,Punjab Kings,Runs,54.0,NaN,JM Bairstow,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['V Kohli', 'F du Plessis', 'RM Patidar', 'MK ...",J Madanagopal,N Pandit
15,1304105,Mumbai,2022-05-12,2022,59,Chennai Super Kings,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
16,1304104,Navi Mumbai,2022-05-11,2022,58,Rajasthan Royals,Delhi Capitals,"Dr DY Patil Sports Academy, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,8.0,NaN,MR Marsh,"['YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D P...","['KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pan...",NA Patwardhan,Nitin Menon
17,1304103,Pune,2022-05-10,2022,57,Gujarat Titans,Lucknow Super Giants,"Maharashtra Cricket Association Stadium, Pune",Gujarat Titans,bat,N,Gujarat Titans,Runs,62.0,NaN,Shubman Gill,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['Q de Kock', 'KL Rahul', 'DJ Hooda', 'KS Shar...",KN Ananthapadmanabhan,MA Gough
18,1304102,Navi Mumbai,2022-05-09,2022,56,Kolkata Knight Riders,Mumbai Indians,"Dr DY Patil Sports Academy, Mumbai",Mumbai Indians,field,N,Kolkata Knight Riders,Runs,52.0,NaN,JJ Bumrah,"['VR Iyer', 'AM Rahane', 'N Rana', 'SS Iyer', ...","['RG Sharma', 'Ishan Kishan', 'Tilak Varma', '...",CB Gaffaney,GR Sadashiv Iyer
19,1304101,Navi Mumbai,2022-05-08,2022,55,Chennai Super Kings,Delhi Capitals,"Dr DY Patil Sports Academy, Mumbai",Delhi Capitals,field,N,Chennai Super Kings,Runs,91.0,NaN,DP Conway,"['RD Gaikwad', 'DP Conway', 'S Dube', 'AT Rayu...","['DA Warner', 'KS Bharat', 'MR Marsh', 'RR Pan...",Nitin Menon,R Pandit

In [176]:
# loc function use to access the rows by using label

crypto = pd.read_csv('E:\Datasets\Crypto.csv')
crypto

,name,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply,totalsupply,date_taken,Unnamed: 10,Unnamed: 11
0,Bitcoin,BTC,https://crypto.com/price/bitcoin,6.273267e+04,272076.9766,"2,51,418.65",3.065439e+06,876052496.2,437497786.1,09-08-2007,NaN,NaN
1,Ethereum,ETH,https://crypto.com/price/ethereum,3.027220e+03,981408.7883,"5,02,924.62",2.326224e+06,444082823.2,705224728.4,13-12-2007,NaN,NaN
2,Tether,USDT,https://crypto.com/price/tether,9.999000e-01,944792.0394,"8,15,637.23",2.207000e+06,604510133.4,716566396.6,03-03-2004,NaN,NaN
3,BNB,BNB,https://crypto.com/price/bnb,5.938500e+02,556334.5330,"3,23,746.05",2.400147e+05,150451882.8,685308596.6,06-06-2001,NaN,NaN
4,Solana,SOL,https://crypto.com/price/solana,1.525900e+02,866929.0575,"8,05,143.57",2.957790e+06,284280494.2,647877254.0,06-08-2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21342,ぺぺ,ぺぺ,https://crypto.com/price/pepe-eth,8.867000e-11,781384.1263,"3,11,061.69",2.962194e+06,552536338.4,305845288.5,01-09-2015,NaN,NaN
21343,喵喵喵喵喵,喵喵喵喵喵,https://crypto.com/price/miaomiaomiaoerc20,8.496000e-07,120877.9300,"7,33,230.16",3.026933e+06,930507777.8,287947911.6,05-02-2000,NaN,NaN
21344,四皇 - Four Emperors,YONKŌ,https://crypto.com/price/four-emperors,7.988930e+03,431924.5009,"81,533.88",1.397512e+06,476058576.1,392855467.6,08-12-2023,NaN,NaN
21345,忠 LOYAL,LOYAL 忠,https://crypto.com/price/loyal,1.875000e-05,238668.9598,"1,92,828.64",2.122169e+06,563586350.9,334356379.1,13-04-2019,NaN,NaN
21346,无条件为你,无条件为你,https://crypto.com/price/wtjwn,4.900000e-08,441316.8639,"2,61,747.39",3.108708e+05,805662706.9,512283391.5,04-07-2012,NaN,NaN

In [177]:
crypto.set_index('name',inplace=True)
crypto

,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply,totalsupply,date_taken,Unnamed: 10,Unnamed: 11
name,,,,,,,,,,,
Bitcoin,BTC,https://crypto.com/price/bitcoin,6.273267e+04,272076.9766,"2,51,418.65",3.065439e+06,876052496.2,437497786.1,09-08-2007,NaN,NaN
Ethereum,ETH,https://crypto.com/price/ethereum,3.027220e+03,981408.7883,"5,02,924.62",2.326224e+06,444082823.2,705224728.4,13-12-2007,NaN,NaN
Tether,USDT,https://crypto.com/price/tether,9.999000e-01,944792.0394,"8,15,637.23",2.207000e+06,604510133.4,716566396.6,03-03-2004,NaN,NaN
BNB,BNB,https://crypto.com/price/bnb,5.938500e+02,556334.5330,"3,23,746.05",2.400147e+05,150451882.8,685308596.6,06-06-2001,NaN,NaN
Solana,SOL,https://crypto.com/price/solana,1.525900e+02,866929.0575,"8,05,143.57",2.957790e+06,284280494.2,647877254.0,06-08-2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
ぺぺ,ぺぺ,https://crypto.com/price/pepe-eth,8.867000e-11,781384.1263,"3,11,061.69",2.962194e+06,552536338.4,305845288.5,01-09-2015,NaN,NaN
喵喵喵喵喵,喵喵喵喵喵,https://crypto.com/price/miaomiaomiaoerc20,8.496000e-07,120877.9300,"7,33,230.16",3.026933e+06,930507777.8,287947911.6,05-02-2000,NaN,NaN
四皇 - Four Emperors,YONKŌ,https://crypto.com/price/four-emperors,7.988930e+03,431924.5009,"81,533.88",1.397512e+06,476058576.1,392855467.6,08-12-2023,NaN,NaN
忠 LOYAL,LOYAL 忠,https://crypto.com/price/loyal,1.875000e-05,238668.9598,"1,92,828.64",2.122169e+06,563586350.9,334356379.1,13-04-2019,NaN,NaN
无条件为你,无条件为你,https://crypto.com/price/wtjwn,4.900000e-08,441316.8639,"2,61,747.39",3.108708e+05,805662706.9,512283391.5,04-07-2012,NaN,NaN

In [182]:
crypto.loc['BNB':'ApeCoin']

,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply,totalsupply,date_taken,Unnamed: 10,Unnamed: 11
name,,,,,,,,,,,
BNB,BNB,https://crypto.com/price/bnb,593.85000,556334.53300,"3,23,746.05",2.400147e+05,1.504519e+08,685308596.6,06-06-2001,NaN,NaN
Solana,SOL,https://crypto.com/price/solana,152.59000,866929.05750,"8,05,143.57",2.957790e+06,2.842805e+08,647877254.0,06-08-2019,NaN,NaN
USD Coin,USDC,https://crypto.com/price/usd-coin,1.00000,771464.23760,"8,33,864.39",2.180035e+06,5.585818e+08,336092471.7,25-06-2007,NaN,NaN
XRP,XRP,https://crypto.com/price/xrp,0.51730,136132.65320,"3,23,475.77",3.100948e+06,8.579002e+08,808459526.5,04-07-2000,NaN,NaN
Toncoin,TONCOIN,https://crypto.com/price/toncoin,6.64000,926236.16510,"9,92,150.85",2.680586e+06,5.780902e+06,904600636.3,04-12-2012,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Ordinals,ORDI,https://crypto.com/price/ordinals,39.00000,591656.53180,"4,53,036.80",1.195912e+06,8.188945e+08,146322996.0,25-10-2021,NaN,NaN
Gnosis,GNO,https://crypto.com/price/gnosis-gno,304.06000,703902.29940,"2,54,467.83",1.214570e+06,5.133068e+08,538478485.7,26-07-2004,NaN,NaN
Helium,HNT,https://crypto.com/price/helium,4.86000,493980.27930,"5,10,956.03",2.652346e+06,6.330480e+06,191561203.4,15-10-2023,NaN,NaN
Nervos Network,CKB,https://crypto.com/price/nervos-network,0.01766,655487.57040,"5,31,615.94",7.779909e+05,8.790490e+08,657927145.8,23-06-2011,NaN,NaN
ApeCoin,APE,https://crypto.com/price/apecoin-ape,1.28000,10005.17995,"8,04,140.78",1.844249e+06,5.478739e+08,430257160.2,13-08-2006,NaN,NaN

In [162]:
crypto

,name,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply,totalsupply,date_taken,Unnamed: 10,Unnamed: 11
0,Bitcoin,BTC,https://crypto.com/price/bitcoin,6.273267e+04,272076.9766,"2,51,418.65",3.065439e+06,876052496.2,437497786.1,09-08-2007,NaN,NaN
1,Ethereum,ETH,https://crypto.com/price/ethereum,3.027220e+03,981408.7883,"5,02,924.62",2.326224e+06,444082823.2,705224728.4,13-12-2007,NaN,NaN
2,Tether,USDT,https://crypto.com/price/tether,9.999000e-01,944792.0394,"8,15,637.23",2.207000e+06,604510133.4,716566396.6,03-03-2004,NaN,NaN
3,BNB,BNB,https://crypto.com/price/bnb,5.938500e+02,556334.5330,"3,23,746.05",2.400147e+05,150451882.8,685308596.6,06-06-2001,NaN,NaN
4,Solana,SOL,https://crypto.com/price/solana,1.525900e+02,866929.0575,"8,05,143.57",2.957790e+06,284280494.2,647877254.0,06-08-2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21342,ぺぺ,ぺぺ,https://crypto.com/price/pepe-eth,8.867000e-11,781384.1263,"3,11,061.69",2.962194e+06,552536338.4,305845288.5,01-09-2015,NaN,NaN
21343,喵喵喵喵喵,喵喵喵喵喵,https://crypto.com/price/miaomiaomiaoerc20,8.496000e-07,120877.9300,"7,33,230.16",3.026933e+06,930507777.8,287947911.6,05-02-2000,NaN,NaN
21344,四皇 - Four Emperors,YONKŌ,https://crypto.com/price/four-emperors,7.988930e+03,431924.5009,"81,533.88",1.397512e+06,476058576.1,392855467.6,08-12-2023,NaN,NaN
21345,忠 LOYAL,LOYAL 忠,https://crypto.com/price/loyal,1.875000e-05,238668.9598,"1,92,828.64",2.122169e+06,563586350.9,334356379.1,13-04-2019,NaN,NaN
21346,无条件为你,无条件为你,https://crypto.com/price/wtjwn,4.900000e-08,441316.8639,"2,61,747.39",3.108708e+05,805662706.9,512283391.5,04-07-2012,NaN,NaN

In [185]:
df1

         Age  Qual
Name
Ikram     36    16
Ehsan     38    14
Ibrahim   14    12
Mati      16    10

In [188]:
df1.loc['Ikram']

Age     36
Qual    16
Name: Ikram, dtype: int64

In [190]:
df1.loc['Ikram':'Ibrahim']

         Age  Qual
Name
Ikram     36    16
Ehsan     38    14
Ibrahim   14    12

In [192]:
df1.iloc[2:4]

         Age  Qual
Name
Ibrahim   14    12
Mati      16    10

In [207]:
crypto.loc['Tether':'Pyth Network':3]

,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply,totalsupply,date_taken,Unnamed: 10,Unnamed: 11
name,,,,,,,,,,,
Tether,USDT,https://crypto.com/price/tether,0.999900,944792.03940,"8,15,637.23",2.207000e+06,6.045101e+08,7.165664e+08,03-03-2004,NaN,NaN
USD Coin,USDC,https://crypto.com/price/usd-coin,1.000000,771464.23760,"8,33,864.39",2.180035e+06,5.585818e+08,3.360925e+08,25-06-2007,NaN,NaN
Dogecoin,DOGE,https://crypto.com/price/dogecoin,0.150900,919698.08080,"5,35,294.04",4.078418e+06,4.488936e+08,2.766036e+08,23-02-2016,NaN,NaN
Avalanche,AVAX,https://crypto.com/price/avalanche,35.560000,89885.21733,"67,466.80",3.024863e+06,9.845822e+08,9.722366e+08,24-12-2013,NaN,NaN
Polkadot,DOT,https://crypto.com/price/polkadot-new,7.070000,114087.73910,"7,30,393.90",1.550322e+06,1.785025e+08,8.788471e+08,27-10-2016,NaN,NaN
NEAR Protocol,NEAR,https://crypto.com/price/near-protocol,7.430000,501571.39360,"6,49,709.66",1.253884e+06,3.259344e+08,8.840459e+07,31-03-2024,NaN,NaN
Internet Computer,ICP,https://crypto.com/price/internet-computer,12.320000,143342.09970,"8,98,738.14",2.532902e+06,9.173049e+08,8.890546e+08,19-12-2015,NaN,NaN
Uniswap,UNI,https://crypto.com/price/uniswap,7.480000,938780.45930,"7,91,777.79",2.570672e+06,4.877395e+07,7.728049e+08,07-06-2022,NaN,NaN
Hedera,HBAR,https://crypto.com/price/hedera,0.109500,751722.47890,"6,14,803.62",2.022498e+06,5.011468e+08,7.476207e+08,31-12-2017,NaN,NaN
Pepe,PEPE,https://crypto.com/price/pepe,0.000009,978073.16670,"3,72,305.47",9.069410e+04,8.990565e+08,7.205460e+08,29-03-2006,NaN,NaN
Cronos,CRO,https://crypto.com/price/cronos,0.126300,191157.48390,"7,86,747.95",7.572326e+05,9.828514e+08,6.857471e+08,05-09-2011,NaN,NaN
Stellar,XLM,https://crypto.com/price/stellar,0.108600,822506.49310,"4,26,453.10",2.768361e+06,7.759628e+08,3.010051e+08,04-06-2015,NaN,NaN
Kaspa,KAS,https://crypto.com/price/kaspa,0.127300,535437.72380,"7,10,534.57",7.008321e+05,2.340276e+08,6.931340e+08,17-12-2010,NaN,NaN
Arbitrum,ARB,https://crypto.com/price/arbitrum,1.040000,938242.13020,"9,60,507.04",3.629265e+06,6.989890e+08,7.563459e+08,09-06-2005,NaN,NaN
Maker,MKR,https://crypto.com/price/maker,2727.640000,702427.02320,"9,81,533.90",3.514668e+06,6.101602e+08,3.049526e+08,05-06-2004,NaN,NaN
Injective,INJ,https://crypto.com/price/injective-protocol,24.350000,638.28082,"8,07,414.07",3.950129e+06,8.707864e+08,3.929737e+07,16-06-2014,NaN,NaN
Fantom,FTM,https://crypto.com/price/fantom,0.718500,629290.92330,"1,51,898.38",3.055086e+06,8.443049e+08,9.615424e+08,13-08-2023,NaN,NaN
Floki,FLOKI,https://crypto.com/price/floki-inu,0.000178,86811.21227,"9,10,521.12",3.598624e+06,8.339411e+08,7.724139e+08,10-04-2015,NaN,NaN
Algorand,ALGO,https://crypto.com/price/algorand,0.193300,409732.64040,"9,83,367.60",6.926248e+05,7.645330e+08,7.325458e+08,01-01-2023,NaN,NaN
Jupiter,JUP,https://crypto.com/price/jupiter-ag,1.100000,106538.30250,"6,13,230.13",3.304052e+04,7.261889e+08,7.176140e+08,23-11-2021,NaN,NaN
Flow,FLOW,https://crypto.com/price/flow,0.909000,853353.26400,"7,58,897.34",3.893897e+06,5.154113e+08,9.493826e+08,15-03-2006,NaN,NaN
Akash Network,AKT,https://crypto.com/price/akash-network,5.600000,844515.88780,"1,58,849.86",3.524305e+06,7.118626e+08,3.362929e+07,11-04-2024,NaN,NaN
Worldcoin,WLD,https://crypto.com/price/worldcoin-org,5.860000,331945.77300,"6,14,321.14",8.897844e+05,3.916964e+08,7.676649e+07,09-11-2020,NaN,NaN
Quant,QNT,https://crypto.com/price/quant,99.510000,111110.40960,"58,056.68",2.294422e+06,8.919464e+08,5.125545e+07,27-02-2006,NaN,NaN
Chiliz,CHZ,https://crypto.com/price/chiliz,0.129100,537240.38630,"2,39,650.54",1.542603e+06,4.686483e+08,3.047407e+08,18-05-2008,NaN,NaN
Pendle,PENDLE,https://crypto.com/price/pendle,4.660000,158656.98520,"6,90,363.80",2.627082e+05,4.821059e+08,9.395871e+08,09-03-2017,NaN,NaN
Axie Infinity,AXS,https://crypto.com/price/axie-infinity,7.510000,353013.86120,"6,65,596.13",3.813902e+06,5.726007e+08,4.523665e+08,13-12-2019,NaN,NaN
eCash,XEC,https://crypto.com/price/ecash,0.000048,243849.48870,"8,05,862.78",1.304679e+06,1.116345e+08,9.231754e+08,02-10-2004,NaN,NaN
Tokenize Xchange,TKX,https://crypto.com/price/tokenize-xchange,11.480000,281343.23290,"7,58,718.73",6.727986e+04,2.134980e+08,1.779802e+08,19-05-2016,NaN,NaN
EOS,EOS,https://crypto.com/price/eos,0.819000,969229.21730,"65,191.31",3.044129e+05,7.717068e+08,2.871281e+08,22-11-2002,NaN,NaN
Synthetix,SNX,https://crypto.com/price/synthetix-network-token,2.650000,89320.89510,"7,09,276.75",2.596273e+06,4.173878e+08,5.619936e+08,28-04-2010,NaN,NaN
Gnosis,GNO,https://crypto.com/price/gnosis-gno,304.060000,703902.29940,"2,54,467.83",1.214570e+06,5.133068e+08,5.384785e+08,26-07-2004,NaN,NaN
ApeCoin,APE,https://crypto.com/price/apecoin-ape,1.280000,10005.17995,"8,04,140.78",1.844249e+06,5.478739e+08,4.302572e+08,13-08-2006,NaN,NaN

In [208]:
# if we want to access specific rows
# we use fancy indexing

crpto.iloc[[10,20,50]]

,name,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply,totalsupply,date_taken,Unnamed: 10,Unnamed: 11
10,Shiba Inu,SHIB,https://crypto.com/price/shiba-inu,0.000023,86260.83219,"3,74,571.88",1897253.157,367209180.6,887502481.4,22-02-2005,NaN,NaN
20,Internet Computer,ICP,https://crypto.com/price/internet-computer,12.320000,143342.09970,"8,98,738.14",2532902.473,917304879.6,889054578.6,19-12-2015,NaN,NaN
50,Fantom,FTM,https://crypto.com/price/fantom,0.718500,629290.92330,"1,51,898.38",3055085.999,844304864.1,961542399.2,13-08-2023,NaN,NaN

In [211]:
# if we want to accsee the specific rows and columns
ipl.iloc[10:20,2:7]

,Date,Season,MatchNumber,Team1,Team2
10,2022-05-16,2022,64,Delhi Capitals,Punjab Kings
11,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants
12,2022-05-15,2022,62,Chennai Super Kings,Gujarat Titans
13,2022-05-14,2022,61,Kolkata Knight Riders,Sunrisers Hyderabad
14,2022-05-13,2022,60,Punjab Kings,Royal Challengers Bangalore
15,2022-05-12,2022,59,Chennai Super Kings,Mumbai Indians
16,2022-05-11,2022,58,Rajasthan Royals,Delhi Capitals
17,2022-05-10,2022,57,Gujarat Titans,Lucknow Super Giants
18,2022-05-09,2022,56,Kolkata Knight Riders,Mumbai Indians
19,2022-05-08,2022,55,Chennai Super Kings,Delhi Capitals

In [216]:
crypto.loc['Shiba Inu':'Uniswap','abbr':'maxsupply']

,abbr,crypturl,price,volume24hrs,marketcap,circulatingsupply,maxsupply
name,,,,,,,
Shiba Inu,SHIB,https://crypto.com/price/shiba-inu,0.000023,86260.83219,"3,74,571.88",1.897253e+06,3.672092e+08
Avalanche,AVAX,https://crypto.com/price/avalanche,35.560000,89885.21733,"67,466.80",3.024863e+06,9.845822e+08
TRON,TRX,https://crypto.com/price/tron,0.126600,579172.28550,"5,90,096.17",4.143305e+04,2.039660e+08
Wrapped Bitcoin,WBTC,https://crypto.com/price/wrapped-bitcoin,62741.270000,341328.84560,"3,30,871.61",3.824932e+06,7.228888e+08
Polkadot,DOT,https://crypto.com/price/polkadot-new,7.070000,114087.73910,"7,30,393.90",1.550322e+06,1.785025e+08
Bitcoin Cash,BCH,https://crypto.com/price/bitcoin-cash,452.270000,958791.57700,"4,40,989.28",4.053645e+06,7.926390e+08
Chainlink,LINK,https://crypto.com/price/chainlink,14.260000,682031.41480,"8,24,768.57",2.317672e+06,1.327535e+08
NEAR Protocol,NEAR,https://crypto.com/price/near-protocol,7.430000,501571.39360,"6,49,709.66",1.253884e+06,3.259344e+08
Polygon,MATIC,https://crypto.com/price/polygon,0.696800,721195.67600,"2,42,167.49",3.093627e+06,9.404117e+08
Litecoin,LTC,https://crypto.com/price/litecoin,83.060000,673204.27010,"3,20,998.95",2.070556e+06,5.825018e+07
Internet Computer,ICP,https://crypto.com/price/internet-computer,12.320000,143342.09970,"8,98,738.14",2.532902e+06,9.173049e+08
UNUS SED LEO,LEO,https://crypto.com/price/unus-sed-leo,5.890000,403606.63540,"4,72,780.68",3.291948e+06,9.481469e+08
Dai,DAI,https://crypto.com/price/multi-collateral-dai,0.999600,442836.64430,"7,06,209.85",9.740636e+05,2.416262e+08
Uniswap,UNI,https://crypto.com/price/uniswap,7.480000,938780.45930,"7,91,777.79",2.570672e+06,4.877395e+07

In [220]:
# if we want to specific columns

ipl.iloc[50:100,[2,4,9]]

          Date  MatchNumber TossDecision
50  2022-04-14           24        field
51  2022-04-13           23        field
52  2022-04-12           22        field
53  2022-04-11           21        field
54  2022-04-10           20        field
55  2022-04-10           19        field
56  2022-04-09           18        field
57  2022-04-09           17        field
58  2022-04-08           16        field
59  2022-04-07           15        field
60  2022-04-06           14        field
61  2022-04-05           13        field
62  2022-04-04           12        field
63  2022-04-03           11        field
64  2022-04-02           10        field
65  2022-04-02            9        field
66  2022-04-01            8        field
67  2022-03-31            7        field
68  2022-03-30            6        field
69  2022-03-29            5        field
70  2022-03-28            4        field
71  2022-03-27            3        field
72  2022-03-27            2        field
73  2022-03-26            1        field
74  2021-10-15        Final        field
75  2021-10-13  Qualifier 2        field
76  2021-10-11   Eliminator          bat
77  2021-10-10  Qualifier 1        field
78  2021-10-08           56        field
79  2021-10-08           55          bat
80  2021-10-07           54        field
81  2021-10-07           53        field
82  2021-10-06           52        field
83  2021-10-05           51        field
84  2021-10-04           50        field
85  2021-10-03           48          bat
86  2021-10-03           49          bat
87  2021-10-02           46        field
88  2021-10-02           47        field
89  2021-10-01           45        field
90  2021-09-30           44        field
91  2021-09-29           43        field
92  2021-09-28           42        field
93  2021-09-28           41        field
94  2021-09-27           40          bat
95  2021-09-26           38          bat
96  2021-09-26           39        field
97  2021-09-25           36        field
98  2021-09-25           37        field
99  2021-09-24           35        field

In [222]:
crypto.loc['Shiba Inu':'Uniswap',['marketcap','price']]

                     marketcap         price
name
Shiba Inu          3,74,571.88      0.000023
Avalanche            67,466.80     35.560000
TRON               5,90,096.17      0.126600
Wrapped Bitcoin    3,30,871.61  62741.270000
Polkadot           7,30,393.90      7.070000
Bitcoin Cash       4,40,989.28    452.270000
Chainlink          8,24,768.57     14.260000
NEAR Protocol      6,49,709.66      7.430000
Polygon            2,42,167.49      0.696800
Litecoin           3,20,998.95     83.060000
Internet Computer  8,98,738.14     12.320000
UNUS SED LEO       4,72,780.68      5.890000
Dai                7,06,209.85      0.999600
Uniswap            7,91,777.79      7.480000

In [229]:
# find all the final winners

ipl.head()
ipl[ipl['MatchNumber']=='Final'][['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [245]:
#  how many super over finishes have occured

ipl[ipl['SuperOver']=='Y'].shape[0]

14

In [260]:
# how many matches has csk won in kolkata

ipl[(ipl['City']=='Kolkata') & (ipl['WinningTeam']=='Chennai Super Kings')]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
224,1178404,Kolkata,2019-04-14,2019,29,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,Imran Tahir,"['CA Lynn', 'SP Narine', 'N Rana', 'RV Uthappa...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",CK Nandan,RJ Tucker
602,598022,Kolkata,2013-04-20,2013,26,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Wickets,4.0,NaN,RA Jadeja,"['G Gambhir', 'YK Pathan', 'JH Kallis', 'EJG M...","['MEK Hussey', 'R Ashwin', 'M Vijay', 'SK Rain...",Asad Rauf,AK Chaudhary
641,548368,Kolkata,2012-05-14,2012,63,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,MEK Hussey,"['G Gambhir', 'BB McCullum', 'JH Kallis', 'MK ...","['MEK Hussey', 'M Vijay', 'SK Raina', 'F du Pl...",JD Cloete,SJA Taufel
827,419113,Kolkata,2010-03-16,2009/10,8,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,55.0,NaN,MS Dhoni,"['BJ Hodge', 'MK Tiwary', 'SC Ganguly', 'WP Sa...","['M Vijay', 'ML Hayden', 'SK Raina', 'S Badrin...",HDPK Dharmasena,AM Saheba
908,336025,Kolkata,2008-05-18,2007/08,41,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Runs,3.0,D/L,M Ntini,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...",Asad Rauf,K Hariharan